.App {
  padding: 20px;
}

.movieSummary p {
  color: gray;
}

.movieSummary p.selected {
  color: #000;
}

.movieSummary b i {
  font-weight: normal;
  opacity: .5;
}

.movieSummary img {
  max-width: 50px;
  display: block;
}

.movieForm label {
  display: block;
}

.movieForm .formField {
  margin-bottom: 15px;
}

.movieForm .formField textarea {
  min-height: 100px;
}

.movieForm .formField img {
  max-width: 100px;
  display: block;
  margin-top: 10px;
}